In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
from datetime import date

In [2]:
db_location = '/home/arjun/Desktop/Datasets/plan.csv'

In [3]:
if os.path.exists(db_location):
    db = pd.read_csv(db_location)
    print('Read from existing database')
else:
    data = {
    'Date': [], 'AI Theory': [], 'AI Project': [],
    'Programming': [], # Leetcode + Non AI project
    'Non-AI': [], # Non AI, Non programming
    'Run': [],  'Workout': []}

    db = pd.DataFrame(data)
    db.to_csv(db_location, index=False)
    print('Created empty database')

Read from existing database

In [4]:
db

        Date  AI Theory  AI Project  Programming  Non-AI  Run  Workout
0   1-2-2003        3.0         4.0          5.0     6.0  7.0      7.0
1   1-2-2003        1.0         2.0          3.0     4.0  5.0      6.0
2  25-5-2024        2.3         3.0          4.0     5.0  6.0      7.0

In [5]:
def add_row(db, new_data):
    new_row = pd.DataFrame(new_data, index=[0])
    updated_db = pd.concat([db, new_row], ignore_index=True)
    return updated_db

In [6]:
# add_row(db,[1,2,3,4,5])
new_data = {'Date': [1], 'AI Theory': [2], 'AI Project': [3], 'Programming': [4],'Non-AI': [5], 'Run': [6], 'Workout': [7]}

In [7]:
for k in new_data.keys():
    if k == 'Date':
        new_data[k] = f'{date.today().day}-{date.today().month}-{date.today().year}'
    else:
        val = float(input(f'Time spend in {k}:'))
        new_data[k] = val

db = add_row(db, new_data)

In [8]:
db.to_csv(db_location, index=False)
pd.read_csv(db_location)

        Date  AI Theory  AI Project  Programming  Non-AI  Run  Workout
0   1-2-2003        3.0         4.0          5.0     6.0  7.0      7.0
1   1-2-2003        1.0         2.0          3.0     4.0  5.0      6.0
2  25-5-2024        2.3         3.0          4.0     5.0  6.0      7.0
3  25-5-2024        3.0         2.0          3.0     1.0  2.0      1.0